@import "https://fonts.googleapis.com/css?family=Notable";
@import "https://fonts.googleapis.com/css?family=Poppins";

.navbar-brand {
  font-family: Notable, sans-serif;
  letter-spacing: 0.1em;
  font-size: 1em !important;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

/* @media screen and (max-width: 549px) { */
.navbar-toggler-icon {
  display: inline-block;
  left: 0;
}

.navbar-toggler-icon:hover {
  color: #fff !important;
}

@media screen and (max-width: 560px) {
  .navbar-brand {
    font-size: 0.9em !important;
  }
}

@media screen and (max-width: 470px) {
  .navbar-brand {
    font-family: Poppins, sans-serif;
    letter-spacing: 0;
    font-size: 0.9em !important;
  }
}

@media screen and (max-width: 350px) {
  .navbar-brand {
    font-size: 0.8em !important;
  }
}
